@model Clinic.Models.Consultation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Symptoms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Symptoms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodPressure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodPressure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Treatment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsuranceConfirmation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsuranceConfirmation)
        </dd>
        <dt>
            P-@Html.DisplayNameFor(model => model.Patient.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Firstname)
        </dd>
        <dt>
            P-@Html.DisplayNameFor(model => model.Patient.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Lastname)
        </dd>
        <dt>
            D-@Html.DisplayNameFor(model => model.Doctor.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.Firstname)
        </dd>
        <dt>
            D-@Html.DisplayNameFor(model => model.Doctor.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.Lastname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
