@model IEnumerable<Clinic.Models.InsuranceCompany>

@{
    ViewData["Title"] = "Insurance Companies";
}

<h1>Manage Insurance Companies</h1>

<p>
    <h2><a asp-action="Create">Create New Insurance Company</a></h2>
</p>
<div class="table-container">
    <h2 style="text-align:center;">Insurance Companies</h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">@Html.DisplayNameFor(model => model.Name)</div>
            <div class="col col-1">@Html.DisplayNameFor(model => model.Address)</div>
            <div class="col col-1">@Html.DisplayNameFor(model => model.Fax)</div>
            <div class="col col-1">@Html.DisplayNameFor(model => model.Email)</div>
            <div class="col col-1">@Html.DisplayNameFor(model => model.PhoneNumber)</div>
            <div class="col col-4"></div>
            <div class="col col-4"></div>
            <div class="col col-4"></div>
        </li>
        @foreach (var item in Model)
        {
            <li class="table-row">
                <div class="col col-1" data-label="@Html.DisplayNameFor(model => model.Name)">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="col col-1" data-label="@Html.DisplayNameFor(model => model.Address)">@Html.DisplayFor(modelItem => item.Address)</div>
                <div class="col col-1" data-label="@Html.DisplayNameFor(model => model.Fax)">@Html.DisplayFor(modelItem => item.Fax)</div>
                <div class="col col-1" data-label="@Html.DisplayNameFor(model => model.Email)">@Html.DisplayFor(modelItem => item.Email)</div>
                <div class="col col-1" data-label="@Html.DisplayNameFor(model => model.PhoneNumber)">@Html.DisplayFor(modelItem => item.PhoneNumber)</div>
                <div class="col col-4" data-label="Edit"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></div>
                <div class="col col-4" data-label="Details"><a asp-action="Details" asp-route-id="@item.Id">Details</a></div>
                <div class="col col-4" data-label="Delete"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></div>
            </li>
        }
    </ul>
</div>