
@{
    ViewData["Title"] = "Add";
    Layout = null;
}
@using Clinic.Models.BindingModels;

<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrapLogin.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/lib/bootstrap/dist/css/bootstrapLogin.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="RegisterBody">
    <!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
    <div class="Registercontainer">
        <!--<div class="row">-->
        <div class="col-md-12">
            <div class="wrapR">
                <p class="form-title-register">
                    Add User
                </p>
                <br />
                <hr />
                <ul class="nav nav-pills">

                    <li class="switch @ViewBag.DoctorsSwitch" style="margin-left:16%"><a class="btn btn-lg btn-default" data-toggle="tab" href="#doctor">Doctor</a></li>

                    <li class="switch @ViewBag.AssistantsSwitch"><a class="btn btn-lg btn-default" data-toggle="tab" href="#assistant">Assistant</a></li>

                    <li class="switch @ViewBag.CompaniesSwitch"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#company">Company</a></li>

                </ul>
                <br />

                <div class="tab-content">
                    <div id="doctor" class="tab-pane fade @ViewBag.DoctorsSwitch">

                        <partial name="_CreateDoctorPartial" />

                    </div>
                    <div id="assistant" class="tab-pane fade @ViewBag.AssistantsSwitch">

                        <partial name="_CreateAssistantPartial" />

                    </div>
                    <div id="company" class="tab-pane fade @ViewBag.CompaniesSwitch">

                        <partial name="_CreateInsurancePartial" />

                    </div>
                    </div>
                </div>
            </div>
            <!--</div>-->

    </div>

</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
