@model IEnumerable<Clinic.Models.Assistant>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Assistants</h1>

<p>
    <h2><a asp-action="Create">Create New</a></h2>
</p>
<div class="table-container">
    <h2 style="text-align:center;">Assistants</h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">@Html.DisplayNameFor(model => model.Firstname)</div>
            <div class="col col-1">@Html.DisplayNameFor(model => model.Lastname)</div>
            <div class="col col-1">@Html.DisplayNameFor(model => model.Email)</div>
            <div class="col col-3">@Html.DisplayNameFor(model => model.PhoneNumber)</div>
            <div class="col col-4">@Html.DisplayNameFor(model => model.DoctorId)</div>
            <div class="col col-4"></div>
            <div class="col col-4"></div>
            <div class="col col-4"></div>
        </li>
        @foreach (var item in Model)
        {
        <li class="table-row">
            <div class="col col-1" data-label="@Html.DisplayNameFor(model => model.Firstname)">@Html.DisplayFor(modelItem => item.Firstname)</div>
            <div class="col col-1" data-label="@Html.DisplayNameFor(model => model.Lastname)">@Html.DisplayFor(modelItem => item.Lastname)</div>
            <div class="col col-1" data-label="@Html.DisplayNameFor(model => model.Email)">@Html.DisplayFor(modelItem => item.Email)</div>
            <div class="col col-3" data-label="@Html.DisplayNameFor(model => model.PhoneNumber)">@Html.DisplayFor(modelItem => item.PhoneNumber)</div>
            <div class="col col-4" data-label="@Html.DisplayNameFor(model => model.DoctorId)">@Html.DisplayFor(modelItem => item.DoctorId)</div>
            <div class="col col-4" data-label="Edit"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></div>
            <div class="col col-4" data-label="Details"><a asp-action="Details" asp-route-id="@item.Id">Details</a></div>
            <div class="col col-4" data-label="Delete"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></div>
        </li>
        }
    </ul>
</div>